/* REQUIRED: Import TelemetryOS design tokens FIRST */
@import url('./styles/tokens.css');
@import url('./styles/components.css');

/* Base Styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 1vmax;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
